html {
  font-family: Roboto,
  Helvetica,
  Arial,
  sans-serif;
  font-size: 14px;
}

body {
  margin: 0px;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

body {
  display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
}